@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');

.padding-body-2 {
    padding: 0 10vw !important;
}


/*Main header*/
.main-logo .logo-title > div {
    font-size: 28px;
}

.main-header .menu span {
    padding: 10px;
    font-size: 16px;
    color: var(--text-color);
    font-weight: 700;
}

.main-header .menu > div {
    padding: 10px 15px;
    cursor: pointer;
    transition: all 0.2s;
    border: solid 1px transparent;
}

.main-header .menu > div:hover {
    background-color: var(--bg-slogan);
    border: solid 1px white;
}
.main-header .menu > div:hover > *{
    color: var(--text-white);
}

.banner-wrapper {
    height: 70vh;
    overflow: hidden;
    border-radius: 0 0 0 150px;
    padding: 2em 0;
    background-color: var(--bg-slogan);
}

.banner-wrapper .menu {
    padding: 0 40px;
    margin-top: 30px;
}

.banner-wrapper .menu div {
    background-color: white;
    border-radius: 20px;
    text-align: center;
    margin: 7px 0;
}

.banner-wrapper .menu span {
    color: var(--text-color);
    font-size: 16px;
    font-weight: 700;
}

.banner-wrapper li.slogan,
.banner-wrapper .slogan > div,
.main-logo .logo-title > div{
    font-family: 'Anton', sans-serif !important;

}


.banner-wrapper li.slogan {
    font-size: 36px;
    color: var(--text-white);
}

.banner-wrapper .slogan > div {
    font-size: 56px;
    color: var(--text-slogan);
}

.banner-img .bg-banner {
    height: 50%;
    width: 100%;
    width: 100%;
    position: absolute;
    top: 60%;
    z-index: 0;
    border-radius: 100%;
    background-color: white;
}

/*content*/

.content .title {
    font-family: 'Lilita One', sans-serif;
    color: var(--bg-slogan);
    font-size: 24px;
    text-align: center;
}

.content {
    padding: 40px 0;
    text-align: center;
}
.content .content-img{
    margin: 30px 20px;
    height: 50%;
}

/*footer*/
.footer {
    height: 30vh;
    background-color: var(--bg-slogan);
}

/*search order*/
.header .nav-item {
    height: 100%;
    padding: 40px;
    cursor: pointer;
    align-items: center;
}

.header .nav-item:hover {
    background-color: var(--primary-1);
    color: white;
}