:root {
  --primary-color: #4d28d2;
  --primary-dark: #3015be;
  --text-color-primary: #0d497f;
  --text-color-primary-rgba: 13, 73, 127;
  --text-color-second-rgba: 66, 66, 66;
  --border-color: #ccc;
  --tab-color: #424242;
  --text-color-gray: #c8c8c8;
  --text-white: #fff;

  --color-warning: rgb(245, 245, 53);
  --color-error: rgb(245, 39, 39);
  --color-success: rgb(41, 147, 0);

  --border-radius: 3px;
  --border-weight: 600;
  --text-size-12: 12px;
  --text-size-title: 20px;
  --sidebar-width: 13%;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
}

ol,
ul {
  list-style: none;
  padding-left: 0;
}
a {
  text-decoration: none;
  color: var(--text-white);
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-align-center {
  display: flex;
  align-items: center;
}

.padding-none {
  padding: 0;
}

.margin-none {
  margin: 0;
}

.font-weight-b {
  font-weight: bold;
}

.font-weight-br {
  font-weight: bolder;
}

.major_title {
  font-size: var(--text-size-title);
}
